{% extends "web/base.html" %}
{% load static %}
{% block title %}Горбуновская погодка{% endblock %}
{% block content %}
<div class="maindiv">
  <div class="fulldiv">
    <div id="weatherInfoContainer" class="weather-container">

        <div id="currentWeatherContainer" class="current-weather">
            <p>Текущая погода</p>
            <div class="current-info">
                <p>Температура: <span id="currentTemp"></span>°С</p>
                <p>Ощущается как: <span id="currentFeelTemp"></span>°С</p>
                <p>Влажность: <span id="currentHumidity"></span>%</p>
                <p>Атмосферное давление: <span id="currentPressure"></span></p>
                <p>Вероятность осадков: <span id="currentPrecipitation"></span>%</p>
            </div>
        </div>

        <div id="futureWeatherContainer" class="hour-weather-container">
            <p>Ближайшая погода</p>

            <div id="soonWeatherContainer" class="hour-weather-data">
            </div>

        </div>
    </div>

    <div class="search-div">
        <div id="inputFieldContainer" class="input-div">
            <input id="searchInput" type="text" class="autocomplete-input" name='city' placeholder="Введите город" />
            <button id="searchInputClear" type="button" class="clear-button">X</button>
        </div>
        <ul id="placesList" class="autocomplete-list">
            {% for h in history %}
                <li class="autocomplete-list-item">{{h}}</li>
            {% endfor %}
        </ul>
    </div>

    <div></div>
  </div>
</div>
<script>
    links = {
        get_weather: "{% url 'get_weather' %}",
        get_cities: "{% url 'get_cities' %}"
    }
</script>
<script type='text/javascript' src="{% static 'js/index.js' %}"></script>
{% endblock  %}