{% extends "web/base.html" %}
{% load static %}
{% block title %}Горбуновская погодка{% endblock %}
{% block content %}
<div class="maindiv">
  <div class="fulldiv">
    <div id="weatherInfoContainer" class="h-2/5 items-center justify-center w-full px-10 gap-1 flex">

        <div id="currentWeatherContainer" class="w-1/3 h-full border rounded-2xl px-2 py-1 hidden">
            <p>Текущая погода</p>
            <p>Температура: <span id="currentTemp"></span>°С</p>
            <p>Ощущается как: <span id="currentFeelTemp"></span>°С</p>
            <p>Влажность: <span id="currentHumidity"></span>%</p>
            <p>Атмосферное давление: <span id="currentPressure"></span></p>
            <p>Вероятность осадков: <span id="currentPrecipitation"></span>%</p>
        </div>

        <div id="futureWeatherContainer" class="w-2/3 h-full border rounded-2xl px-2 py-1 hidden">
            <p>Ближайшая погода</p>

            <div id="soonWeatherContainer" class="flex w-full p-2 space-x-1">

                <div data-id="1" class="hour-weather flex-1 rounded-lg border p-1">
                <p>Температура: <span class="temp"></span>°С</p>
                <p>Ощущается как: <span class="feeltemp"></span>°С</p>
                <p>Влажность: <span class="humidity"></span>%</p>
                <p>Атмосферное давление: <span class="pressure"></span></p>
                <p>Вероятность осадков: <span class="precipitation"></span>%</p>
                </div>  

                <div id="secondSoonWeather" class="hour-weather flex-1 h-full rounded-lg border p-1">
                <p>Температура: <span class="temp"></span>°С</p>
                <p>Ощущается как: <span class="feeltemp"></span>°С</p>
                <p>Влажность: <span class="humidity"></span>%</p>
                <p>Атмосферное давление: <span class="pressure"></span></p>
                <p>Вероятность осадков: <span class="precipitation"></span>%</p>
                </div>

                <div id="thirdSoonWeather" class="hour-weather flex-1 rounded-lg border p-1">
                <p>Температура: <span class="temp"></span>°С</p>
                <p>Ощущается как: <span class="feeltemp"></span>°С</p>
                <p>Влажность: <span class="humidity"></span>%</p>
                <p>Атмосферное давление: <span class="pressure"></span></p>
                <p>Вероятность осадков: <span class="precipitation"></span>%</p>
                </div>

                <div id="fourthSoonWeather" class="hour-weather flex-1 rounded-lg border p-1">
                <p>Температура: <span class="temp"></span>°С</p>
                <p>Ощущается как: <span class="feeltemp"></span>°С</p>
                <p>Влажность: <span class="humidity"></span>%</p>
                <p>Атмосферное давление: <span class="pressure"></span></p>
                <p>Вероятность осадков: <span class="precipitation"></span>%</p>
                </div>

            </div>

        </div>
    </div>

    <div class="search-div">
        <div id="inputFieldContainer" class="input-div">
            <input id="searchInput" type="text" class="autocomplete-input" name='city' placeholder="Введите город" />
            <button id="searchInputClear" type="button" class="clear-button">X</button>
        </div>
        <ul id="placesList" class="autocomplete-list">
            <li class="autocomplete-list-item">Санкт-Петербург</li>
        </ul>
    </div>

    <div></div>
  </div>
</div>
<script>
    links = {
        get_weather: "{% url 'get_weather' %}",
    }
</script>
<script type='text/javascript' src="{% static 'js/index.js' %}"></script>
{% endblock  %}